<div class="container mt-5">
  <div class="d-flex justify-content-between mb-5">
    <h2>植物情報一覧</h2>
    <div>
      <%= link_to new_admin_plant_path do %>
        <i class="fas fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @plants.each do |plant| %>
    <div class="col">
        <div class="d-flex align-items-center justify-content-center">
          <%= link_to edit_admin_plant_path(plant) do %>
            <%= attachment_image_tag plant, :image, :fill, 150, 150 %>
          <% end %>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-5">
          <p><%= plant.plant_name %><p>
        </div>
    </div>
    <% end %>
  </div>
</div>
