.above {
  padding: 15px 0;
}

.side {
  padding: 15px 0;
  height: 82vh;
}

.around{
  background-color: rgba(25, 77, 25, 0.3);
  margin: 0;
}

.top-title{
  font-size: 3vw;
}

.isometric{
  width: 100%;
  position: relative;
}

.icon{
  :hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease 0s;
  }
}

.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

#sunny-icon0{
  position: absolute;
  top: 54%;
  left: 54%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#sunny-icon1{
  position: absolute;
  top: 52%;
  left: 35%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#sunny-icon2{
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#sunny-icon3{
  position: absolute;
  top: 47%;
  left: 43%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#sunny-icon4{
  position: absolute;
  top: 65%;
  left: 63%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#half-sunny-icon0{
  position: absolute;
  top: 39%;
  left: 65%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#half-sunny-icon1{
  position: absolute;
  top: 53%;
  left: 80%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#half-sunny-icon2{
  position: absolute;
  top: 58%;
  left: 15%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#half-sunny-icon3{
  position: absolute;
  top: 42%;
  left: 54%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

#half-sunny-icon4{
  position: absolute;
  top: 69%;
  left: 14%;
  transform: translate(-50%, -50%);
  :hover {
	  transform: scale(1.2, 1.2);
	  transition: all 0.3s ease 0s;
  }
}

.simple-calendar {
 .day {}
 .wday-0 {
   background-color: #FA8072;
 }
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {
   background-color:  #87CEEB;
 }
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month {}
 .current-month {}
 .has-events {
   background: #c2ffc2;
 }
}

.calendar-title{
  font-size: 2rem;
}