<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-5">
    <h2>育成中植物一覧</h2>
    <div>
      <%= link_to grow_plants_path do %>
        <i class="fas fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @grow_plants.each do |grow_plant| %>
    <div class="col flex-wrap">
      <div class="d-flex align-items-center justify-content-center mb-2">
        <%= link_to grow_plant_path(grow_plant) do %>
          <%= attachment_image_tag grow_plant.plant, :image, :fill, 200, 200 %>
        <% end %>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <h4><%= grow_plant.nick_name %></h4>
      </div>
    </div>
    <% end %>
  </div>
</div>
