<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2><%= @grow_plant.user.name %> 様</h2>
  <hr />
  <p>
    こんにちは！</br >
    今日は<%= @grow_plant.nick_name %>の水やり日です</p>
  <hr />
</body>
</html>