<div class="container mt-5">
    <h2 class="mb-5">植物情報一覧</h2>
    
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="col mb-sm-3">
          <div class="d-flex align-items-center justify-content-around">
            <%= link_to pick_grow_plant_path(plant) do %>
              <%= attachment_image_tag plant, :image, :fill, 150, 150 %>
            <% end %>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <p><%= plant.plant_name %><p>
          </div>
        </div>
    <% end %>
    </div>
</div>