<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h2 class="mb-5">植物情報一覧</h2>
    <div class="text-secondary">
      一覧にない植物</br >
      <%= link_to "カスタム作成", new_grow_plant_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="col mb-sm-3">
          <div class="d-flex align-items-center justify-content-around">
            <%= link_to pick_grow_plant_path(plant) do %>
              <%= attachment_image_tag plant, :image, :fill, 150, 150 %>
            <% end %>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <p><%= plant.plant_name %><p>
          </div>
        </div>
    <% end %>
    </div>
</div>