/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face{
  font-family:  'YuseiMagic-Regular';
  src: font-url('assets/YuseiMagic-Regular.ttf');
}

*{
  font-family: 'Yusei Magic', sans-serif;
}

header {
  width: 100vw;
  background-color: #8fbc8f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: flex-end;
      margin: auto;
      p {
        padding: 10px;
        margin: 0 auto;
      }
      li {
        list-style: none;
        margin-left: 30px;
        a {
          display: block;
          width: 110px;
          padding: 8px 10px;
          text-align: center;
          text-decoration: none;
          color: #333;
          border:solid 1px;
          border-radius: 6px;
        }
      }
      li:hover {
        color: #C0C0C0;
        a {
          background-color:  white;
          color: #8fbc8f;
          border-radius: 6px;
        }
      }

    }
  }

.image {
  border-radius: 50%;
  border: solid;
  border: 2px solid gray;
  margin: 20px 0;
}

