/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face{
  font-family:  'Senobi-Gothic-Bold';
  src: font-url('assets/Senobi-Gothic-Bold.ttf');
}

*{
  font-family: Senobi-Gothic-Bold;
}

.link {
    text-decoration: none;
    color: black ;
}
header {
  width: 100vw;
  background-color: #EFECE5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: flex-end;
      margin: auto;
      p {
        padding: 10px;
        margin: 0 auto;
      }
      li {
        list-style: none;
        a {
          display: block;
          width: 110px;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          color: #333;
        }
      }
      li:hover {
        background-color: #C0C0C0;
        a {
          color: #fff;
        }
      }

    }
  }