<div class="container mt-5 d-flex align-items-center justify-content-center wrapper">
  <%= attachment_image_tag @user, :image, :fill, 200, 200 , fallback: "icon.jpeg", class:"logo" %>
    <div class="align-items-center justify-content-center mx-3">
     <h2>マイページ</h2>
      <table class="table table-border">
       <tr>
        <td>ユーザー名</td>
        <td><%= @user.name %></td>
       </tr>
       <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
       </tr>
        <tr>
         <td></td>
         <td><%= link_to "編集画面へ", edit_users_path, class: "btn btn-outline-primary" %></td>
        </tr>
      </table>
    </div>
 </div>